# Lombok Configuration
# https://projectlombok.org/features/configuration

# Empty @Data annotations should generate a warning
lombok.val.flagUsage = WARNING

# Generate @ToString annotations that exclude null fields
# lombok.toString.includeFieldNames = true

# Generate @EqualsAndHashCode and @ToString that call super methods
# lombok.equalsAndHashCode.callSuper = CALL

# Disable special logging features in @Slf4j
# lombok.extern.slf4j.monitorCause = false

# Add @SuppressWarnings("all") to generated code
lombok.addLombokGeneratedAnnotation = true
