[
  {
    "labels": {
      "job": "fota-service",
      "cluster": "fota-prod",
      "env": "production"
    },
    "targets": [
      "10.0.1.1:8080"
    ]
  },
  {
    "labels": {
      "job": "fota-service",
      "cluster": "fota-prod",
      "env": "production"
    },
    "targets": [
      "10.0.1.2:8080"
    ]
  },
  {
    "labels": {
      "job": "fota-service",
      "cluster": "fota-prod",
      "env": "production"
    },
    "targets": [
      "10.0.1.3:8080"
    ]
  }
]
