BACKEND_PORT=18080
UI_PORT=10800

SPRING_APPLICATION_NAME=wewins-fota
SPRING_PROFILES_ACTIVE=

# db
DB_URL="jdbc:postgresql://pgsql:5432/fota?TimeZone=UTC"
DB_USER=postgres
DB_PASSWORD=wewins@123

# clickhouse
CLICKHOUSE_URL=jdbc:clickhouse://clickhouse:8123/fota
CLICKHOUSE_USER=wewins
CLICKHOUSE_PASSWORD=wewins@123

# redis
REDIS_HOST=redis-stack
REDIS_PORT=6379
REDIS_PASSWORD=
SPRING_DATA_REDIS_DATABASE=0

# rabbitmq
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=wewins
RABBITMQ_PASSWORD=wewins@123

# self
## jwt密钥
JWT_SECRET=wewins-fota-production-jwt-secret-key-in-real-env-2026

## 运行模式: main / region
APP_MODE=main

## 节点配置
### 节点编码: region-host-instance (区域-主机-实例名)
NODE_CODE=main-lax-svc-1
NODE_NAME=lax测试-01
### 节点url, 配置区域域名, 也可以为每一个节点分配域名
NODE_BASE_URL=https://main-lax-svc-1.fota.wolaie.com
NODE_TIME_ZONE=Asia/Shanghai

# prometheus
PROMETHEUS_URL=http://prometheus:9090

# rustfs
STORAGE_S3_ENDPOINT=http://rustfs:9000
STORAGE_S3_REGION=us-east-1
STORAGE_S3_BUCKET=fota
STORAGE_S3_ACCESS_KEY=uzFXvQ4GgMsyZ2YhU50q
STORAGE_S3_SECRET_KEY=AGzlSY175qMCBwxdbjct6e0I8isOyQfKpmDa3n4L
## path_style, like_r2, virtual_hosted
STORAGE_S3_URL_ACCESS_TYPE=path_style

# download
FIRMWARE_DOWNLOAD_BASE_URL=https://dl.fota.wolaie.com